@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --mainColor: #9de3e9;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: justify;
    text-indent: 2em;
}

@media screen and (min-width: 1400px) {
    .color1,
    .color2,
    .color3,
    .color4,
    .color5,
    .color6 {
        width: 198px;
        height: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .color1,
    .color2,
    .color3,
    .color4,
    .color5,
    .color6 {
        line-height: 45px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .color1,
    .color2,
    .color3,
    .color4,
    .color5,
    .color6 {
        width: 168px;
        height: 60px;
    }
}

.logo img {
    height: 60px;
}

.hamburger {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: rgba(0, 0, 0, 0.60);
    opacity: 0.5;
}

.menu1 {
    background-color: #c6a22f;
    border-bottom: 5px solid #311d1f;
    line-height: 45px;
}

.color1 {
    position: relative;
    color: #311d1f;
    z-index: 1;
}

.color1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #311d1f;
    z-index: -1;
    transition: transform 0.3s;
}

.color1:hover::after {
    transform: scaleY(1);
}

.color1:hover {
    color: #fcf5a8;
}

.active1 {
    font-weight: bold;
    background-color: #311d1f;
    color: #fcf5a8;
}

.menu2 {
    background-color: #bbd5ed;
    border-bottom: 5px solid #1f3864;
}

.color2 {
    position: relative;
    color: #1f3864;
    z-index: 1;
}

.color2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #1f3864;
    z-index: -1;
    transition: transform 0.3s;
}

.color2:hover::after {
    transform: scaleY(1);
}

.color2:hover {
    color: #bbd5ed;
}

.active2 {
    font-weight: bold;
    background-color: #1f3864;
    color: #bbd5ed;
}

.menu3 {
    background-color: #ccffcc;
    border-bottom: 5px solid #385723;
    line-height: 45px;
}

.color3 {
    position: relative;
    color: #385723;
    z-index: 1;
}

.color3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #385723;
    z-index: -1;
    transition: transform 0.3s;
}

.color3:hover::after {
    transform: scaleY(1);
}

.color3:hover {
    color: #ccffcc;
}

.active3 {
    font-weight: bold;
    background-color: #385723;
    color: #ccffcc;
}

.menu4 {
    background-color: #dcddde;
    border-bottom: 5px solid #636466;
}

.color4 {
    position: relative;
    color: #636466;
    z-index: 1;
}

.color4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #636466;
    z-index: -1;
    transition: transform 0.3s;
}

.color4:hover::after {
    transform: scaleY(1);
}

.color4:hover {
    color: #dcddde;
}

.active4 {
    font-weight: bold;
    background-color: #636466;
    color: #dcddde;
}

.menu5 {
    background-color: #f3dbaf;
    border-bottom: 5px solid #6d4e27;
}

.color5 {
    position: relative;
    color: #6d4e27;
    z-index: 1;
}

.color5::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #6d4e27;
    z-index: -1;
    transition: transform 0.3s;
}

.color5:hover::after {
    transform: scaleY(1);
}

.color5:hover {
    color: #f3dbaf;
}

.active5 {
    font-weight: bold;
    background-color: #6d4e27;
    color: #f3dbaf;
}

.menu6 {
    background-color: #E2d0d9;
    border-bottom: 5px solid #8a0054;
    line-height: 45px;
}

.color6 {
    position: relative;
    color: #8a0054;
    z-index: 1;
}

.color6::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #8a0054;
    z-index: -1;
    transition: transform 0.3s;
}

.color6:hover::after {
    transform: scaleY(1);
}

.color6:hover {
    color: #e2d0d9;
}

.active6 {
    font-weight: bold;
    background-color: #8a0054;
    color: #e3d0d9;
}

.menu {
    background-color: #c6a22f;
    border-left: 5px solid #311d1f;
    line-height: 45px;
}

.color {
    position: relative;
    color: #311d1f;
    z-index: 1;
}

@media screen and (min-width: 1400px) {
    .color {
        width: 191px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .color {
        width: 161px;
    }
}

.color::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
    background: #311d1f;
    z-index: -1;
    transition: transform 0.3s;
}

.color:hover::after {
    transform: scaleX(1);
}

.color:hover {
    color: #fcf5a8;
}

.active {
    font-weight: bold;
    background-color: #311d1f;
    color: #fcf5a8;
}

.menu li {
    margin-bottom: 1px;
}

#footer {
    /*height: 100px;*/
}

#footer a {
    display: block;
    background: linear-gradient( to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
}

#footer a:hover {
    background-size: 4px 50px;
}